body {
    background-color: rgb(240, 224, 200);
    text-align: center;
    position: relative;
}

.game-container {
    position: relative;
    background-color: rgb(247, 233, 158);
    height: 100%;
}

header {
    position: relative;
    background-color: rgba(219, 118, 105, 0.452);
    border-radius: 10px;
    height: 80px;
    
}


.hints {
    /* background-color: crimson; */
    position: absolute;
    width: 25%;
    height: 100%;
    left: 10%;
    top: 15%;
    display: inline;
}

.hint1, .hint2, .hint3 {
    /* background-color: blue; */
    width: 500px;
    margin: 0px 20px;
    font-size: 32px;
    padding-top: 6px;
    border-radius: 50%;
    transition: 0.15s;
    opacity: 50%;
    background-color: transparent;
}

.hint-mode {
    opacity: 60%;
    background-color: rgba(243, 227, 138, 0.781);
}




.restart-container {
    /* background-color: darkmagenta; */
    position: relative;
    color: ivory;
    font-size: 50px;
    width: 20%;
    height: 100%;
    margin: 0 auto;
}

.restart-container p .restart{
    cursor: pointer;
    padding: 3%;
}

.display {
    position: absolute;
    font-size: 30px;
    /* background-color: darkorange; */
    width: 45%;
    height: 100%;
    right: 0%;
    top: 0%
}

.manual {
    position: absolute;
    width: 5%;
    left: 10%;
    top: 100px;
}

.manual-btn {
    width: 150%;
    height: 50px;
    background-color: tomato;
}

.undo {
    position: absolute;
    right: 10%;
    width: 5%;
    top: 100px;
    
}

.undo-btn {
    width: 150%;
    height: 50px;
    background-color: tomato;

}


.game-board {
    position: absolute;
    margin: 10px;
    background-color: rgb(245, 217, 180);
    width: 50%;
    height: 70%;
    table-layout: fixed;
    
    box-sizing: content-box;
    left: 25%;
    top: 12%;
    
}

td {
    border: 1px inset grey;
    width: 10%;
    height: 42px;
    background-color: rgb(205, 226, 205);
    color: rgb(41, 59, 221);
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.hidden {
    color: transparent;
    background-color: rgb(154, 154, 163) !important; 
}



.mark {
    background-color: rgb(202, 45, 69) !important

}

.center {
    margin-left: auto;
    margin-right: auto;
}




footer {
    position: absolute;
    /* background-color: rgb(253, 240, 56); */
    width: 100%;
    bottom: 0%;
    /* max-height: 100px; */
}

button {
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: rgb(253, 246, 209);
    transition: 0.2s;
}


.diff-btns button{
    background-color: rgb(253, 246, 209);
    box-sizing: content-box;
    width: 10%;
    height: 35px;
    margin: 5px 5%;
    cursor: pointer;
    border-radius: 5px;
    
    
}

.manual-click {
    border-color: 'red' !important;
}

.diff-btns {
    min-width: 80px;
}

button:hover {
    background-color:  rgba(241, 111, 111, 0.945);
}

.manual-mode {
    background-color: lightblue;
    z-index: 1;
}

