body {
    background-color: rgb(73, 160, 167);
    text-align: center;
    position: relative;
}

.game-container {
    position: relative;
    background-color: rgb(73, 160, 167);
    
    width: 100%;
    height: 100%;
}

header {
    color: rgb(32, 70, 77);
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(71, 206, 116, 0.452);
    background-image: linear-gradient(rgba(71, 206, 116, 0.842), rgba(74, 184, 111, 0.753), rgb(73, 160, 167));
    border-radius: 10px;
    height: 80px;
    
}


.hints {
    position: absolute;
    left: 3.8%;
    top: 15%;
    display: inline;
}

.hint1, .hint2, .hint3 {
    width: 500px;
    margin: 0px 10px;
    font-size: 35px;
    padding-top: 6px;
    border-radius: 50%;
    transition: 0.15s;
    opacity: 40%;
    background-color: transparent;
}

.hint-mode {
    opacity: 60%;
    background-color: rgba(243, 227, 138, 0.781);
}




.restart-container {
    position: relative;
    font-size: 60px;
    width: 20%;
    height: 100%;
    margin: 0 auto;
}

.restart-container p .restart{
    cursor: pointer;
    padding: 3%;
}

.display {
    position: absolute;
    font-size: 30px;
    width: 45%;
    height: 100%;
    left: 65%;
    top: 13%
}

.manual {
    margin: 8% 80%;
    right: 12%;
    width: 5%;
    /* top: 100px; */
    
    
}

.manual-btn, .undo-btn {
    
    min-width: 80px;
    color: rgb(83, 79, 136);
    margin-top: 0px;
    height: 90px;
    font-size: 1.2rem;
    background-color: rgba(250, 133, 56, 0.842);
}



.undo {
    
    margin: 1.5% 80%;
    right: 1%;
    width: 5%;
    top: 100px;
    
}

.safe-click {
    position: relative;
    background-color: rgb(201, 84, 63);
    width: 20%;
    top: 4px;
    padding: 0;
}

.safe-btn {
    position: absolute;
    background-color: rgb(94, 195, 235);
    color: rgb(238, 63, 32);
    margin-top: 5%;
    width: fit-content;
    padding: 15px;
    height: 80px;
    left: 25%;
    border-radius: 40px;
    /* border-style: groove; */
    border-color: tomato;
    border-width: 1.3px;
}



.safe-btn span {
    background-color: tomato;
    font-size: 25px;
    border-radius: 10px;
    color: rgb(81, 214, 255);
}




.game-board {
    position: absolute;
    margin: 10px;
    background-color: rgb(60, 65, 62);
    width: 50%;
    height: 70%;
    table-layout: fixed;
    
    box-sizing: content-box;
    left: 25%;
    top: 12%;
    
}

td {
    border: 0.1px ridge grey;
    width: 10%;
    height: 42px;
    font-weight: bolder;
    border-collapse: collapse;
    background-color: rgb(176, 198, 238);
    color: rgb(20, 45, 185);
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.hidden {
    color: transparent;
    background-color: rgb(127, 127, 131) !important; 
    
}


.mark {
    background-color: rgb(202, 45, 69) !important

}

.center {
    margin-left: auto;
    margin-right: auto;
}


footer {
    position: absolute;
    width: 100%;
    bottom: 0%;
}

button {
    cursor: pointer;
    
    font-weight: bold;
    color: rgb(18, 121, 115);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(253, 246, 209);
    transition: 0.2s;
}


.diff-btns button{
    background-color: rgb(253, 246, 209);
    box-sizing: content-box;
    min-width: 80px;
    height: 35px;
    margin: 5px 5%;
    cursor: pointer;
    border-radius: 5px;   
}


.diff-btns {
    min-width: 80px;
}

button:hover {
    background-color:  rgba(241, 206, 111, 0.945);
}

.open-manual {
    font-size: 2.8rem;
    position: absolute;
    margin: 0;
    opacity: 50%;
    top: 85%;
    left: 0%;
    color: rgb(57, 12, 99);
    z-index: 5;
    display: none;
}

.manual-mode {
    background-color: rgb(255, 239, 194);
    /* z-index: 5; */
}

::selection {
    background-color: transparent;
}

.safe-btn:hover {
    background-color: rgb(53, 211, 250);
}

